﻿{{extend 'layout.html'}}
<div class="row">
    <div class="col-md-3">
        <a id="previous" class="btn-btn-default change_page" href="#"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
    <div class="col-md-3">
        <a id="next" class="btn-btn-default change_page" href="#"><span class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    <div class="col-md-3">
        <span id="page_num"></span> of <span id="page_count"></span>
    </div>
</div>

<div id="pdf-content" style="min-height:100%; width:100%; height:100%;"></div>



<script type="text/javascript">

    var pageNum = 1;
    var pdfData;
    var data_url = "{{=URL('pdf_data',vars={'id':pdf_id})}}";


$(document).ready(function(){

    $.getJSON(data_url,load_pdf);
    $(document).on('click','.change_page',change_page);

});

</script>